@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900";
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

body {
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1280px){
  .v-container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}

