@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900";

body {
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1280px){
  .v-container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
  .logged-in {
    .v-container {
      padding-left: 32px !important;
      padding-right: 32px !important;
    } 
  }
}


.v-switch.inherit-height .v-input__control {
  height: inherit;
  .v-selection-control {
    min-height: inherit;
  }
} 

.v-table>.v-table__wrapper>table>tbody>tr>td {
  padding-top: 12px;
  padding-bottom: 12px;
}