@import "https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900";

body {
  background: #f8f8f8;
  font-family: "Roboto", sans-serif;
}

@media screen and (min-width: 1280px){
  .v-container {
    max-width: 1200px;
    padding-left: 0;
    padding-right: 0;
  }
}


.v-switch.inherit-height .v-input__control {
  height: inherit;
  .v-selection-control {
    min-height: inherit;
  }
} 

.testing-container {
  display: flex;
  flex-direction: column;
}

.testing-header {
  margin-top: 6px;
  font-weight: 500;
  font-size: 15px;
}

.testing-body {
  font-size: 14px;
}
